<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ad List</title>
    <link rel="stylesheet" href="/css/ad.css">
</head>
<body>
    <h1>Ads List</h1>
    
    <div th:if="${not #lists.isEmpty(ads)}">
        <p>Below are the available ads:</p>
        <div th:each="ad : ${ads}" class="ad-container">
            <p class="ad--contents" th:text="${ad.contents}">Ad Description</p>
        </div>
    </div>
    
    <div th:if="${#lists.isEmpty(ads)}">
        <p>No ads available at the moment.</p>
    </div>
</body>
</html>
