<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<form action="#" th:action="@{/forgotPassword}" th:object="${user}" method="post">
    <input type="text" name="username" id="username" placeholder="username" th:field="*{username}"/>

    <input type="text" name="email" id="email" placeholder="email" th:field="*{email}"/>

    <input type="text" name="password" id="password" placeholder="New password" th.field="*{password}"/>

    <button type="submit">Edit password</button>
</form>
</body>
</html>