<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Forum</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<form action="#" th:action="@{/addforum}" th:object="${forum}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name of the Forum">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="description">Description</label>
    <textarea type="text" th:field="*{description}" id="description" placeholder="Description"></textarea>
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

    <label for="category">Category</label>
    <input type="text" th:field="*{category}" id="category" placeholder="Category of the Forum">
    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>

    <button type="submit">Create Forum</button>
</form>

</body>
</html>
