<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>SignUp here to create an account</h2>
<form action="#" th:action="@{/signup}" th:object="${user}" method="post">
  <input type="text" name="username" id="username" placeholder="username" th:field="*{username}"/>

  <input type="text" name="email" id="email" placeholder="email" th:field="*{email}"/>

  <input type="text" name="password" id="password" placeholder="password" th:field="*{password}"/>

    <button type="submit">Sign up</button>
</form>
</body>
</html>